<h1>Register a new product</h1>

<br>

<form action="/api/products" method="post">
    <label for="fname">Product Name:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="fname">Price:</label><br>
    <input type="number" id="price" name="price"><br>
    <label for="lname">Code:</label><br>
    <input type="text" id="code" name="code"><br>
    <label for="fname">Stock:</label><br>
    <input type="number" id="stock" name="stock"><br>
    <label for="lname">Category:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="lname">Status:</label><br>
    <input type="text" id="status" name="status"><br><br>
    <input type="submit" value="Submit">
</form>

<a href="api/products/productos_list">Lista de produtos registrados</a>



{{!-- {{#each listProd}}
<h2>{{this.title}}</h2>

<h3>ID:{{this._id}}</h3>
<h3>Title:{{this.title}}</h3>
<h3>Descripton:{{this.description}}</h3>
<h3>Price:{{this.price}}</h3>
<h3>Image:na</h3>
<h3>Code:{{this.code}}</h3>
<h3>stock:{{this.stock}}</h3>
<h3>Category:{{this.category}}</h3>
<h3>Status:{{this.status}}</h3>
<hr>

{{/each}} --}}

{{!-- <div>
    <h3>ID:?</h3>
    <h3>Name: {{listTest.name}} </h3>
    <h3>Title:{{listTest.titulo}}</h3>
    <h3>Descripton:{{listTest.descripton}}</h3>
    <h3>Price:{{listTest.price}}</h3>
    <h3>Image:{{listTest.image}}</h3>
    <h3>Code:{{listTest.code}}</h3>
    <h3>stock:{{listTest.stock}}</h3>
    <h3>Category:{{listTest.category}}</h3>
    <h3>Status:{{listTest.status}}</h3>
    <hr>
</div> --}}


<br><br>

{{!--
<script src="socket.io/socket.io.js"></script>--}}